<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>Todo App</title>
</head>
<body>todo/templates/todo/todo_list.html
  <nav>
    {% if user.is_authenticated %}
      <h1>Welcome, {{ user.username }}!</h1>
       <a href="{% url 'accountapp:logout' %}">Logout</a>   
    {% else %}
      <a href="{% url 'accountapp:login' %}">Login</a>
      <a href="{% url 'accountapp:register' %}">Register</a>
     
      
    {% endif %}
  </nav>
  {% block content %}
  {% endblock %}
</body>
</html>
