body {
    background-image: linear-gradient(to bottom, #5aa29a, #40b997, #47cd82, #70de5d, #a8eb12);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}


.navbar-brand {
    font-family: 'Kristi', cursive;
    font-size: 20px;
    color: #fff;
    text-decoration: none; 
    margin-right: 10px;
    
}



.container { 
    max-width: 500px; 
    margin: 0 auto; 
    padding: 20px; 
    border-radius: 5px;
    box-shadow: 0 2px 4px #343a40;
    
}

.wrapper {
    flex: 1;
    overflow: hidden;
    
}


h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}


h2, h3, p {
    font-family: 'Open Sans', sans-serif;
}
  

form {
    margin-top: 20px;
      
}

.form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
button {
    margin-right: 10px;
    
}



.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }


  .footer-logo  {
    font-family: 'Kristi', cursive;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  

  

  .footer span {
    color: #fff;
  }