{% extends 'base.html' %}

{% block content %}
<h2>Todo List</h2>
{% for completed in completed_todos %}
  <h3>Completed by: {{ completed.completed_by }}</h3>
  <ul>
    {% for todo in completed.todos %}
      <li>
        <form method="post" action="{% url 'todo:todo_update' pk=todo.pk %}">
          {% csrf_token %}
          <input type="hidden" name="completed_by" value="{{ todo.completed_by }}">
          <input type="checkbox" {% if todo.completed %}checked{% endif %} 
                 onchange="this.form.submit()">
          {{ todo.title }}
          <a href="{% url 'todo:todo_update' pk=todo.pk %}">Edit</a>
          <a href="{% url 'todo:todo_delete' pk=todo.pk %}">Delete</a>
        </form>
      </li>
    {% empty %}
      <li>No todos found.</li>
    {% endfor %}
  </ul>
{% empty %}
  <p>No completed todos found.</p>
{% endfor %}

<a href="{% url 'todo:todo_create' %}">Create New Todo</a>

  

{% endblock %}


<!-- 
<h2>Todo List</h2>
<ul>
  {% for todo in todos %}
    <li>
      <form method="post" action="{% url 'todo:todo_update' pk=todo.pk %}">
        {% csrf_token %}
        <input type="hidden" name="completed_by" value="{{ todo.completed_by }}">
        <input type="checkbox" {% if todo.completed %}checked{% endif %} 
               onchange="this.form.submit()">
        {{ todo.title }}
        <a href="{% url 'todo:todo_update' pk=todo.pk %}">Edit</a>
        <a href="{% url 'todo:todo_delete' pk=todo.pk %}">Delete</a>
        {% if todo.completed %}
          <p>Completed by: {{ todo.completed_by }}</p>
        {% endif %}
      </form>
    </li>
  {% empty %}
    <li>No todos found.</li>
  {% endfor %}
</ul>
<a href="{% url 'todo:todo_create' %}">Create New Todo</a>
 -->
  


<!-- 


<h2>Todo List</h2>

<h3>User Todos</h3>
<form method="POST" action="{% url 'todo:create_todo' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add</button>
</form>

<ul>
    {% for todo in user_todos %}
        <li>
            <label for="todo_{{ todo.id }}">
                <input type="checkbox" id="todo_{{ todo.id }}" onclick="toggleCheckbox('todo_{{ todo.id }}');" {% if todo.completed %}checked{% endif %}>
                {{ todo.title }}
            </label>
        </li>
    {% endfor %}
</ul>

<h3>Guest Todos</h3>

<ul>
    {% for todo in guest_todos %}
        <li>
            <label for="todo_{{ todo.id }}">
                <input type="checkbox" id="todo_{{ todo.id }}" onclick="toggleCheckbox('todo_{{ todo.id }}');" {% if todo.completed %}checked{% endif %}>
                {{ todo.title }}
            </label>
        </li>
    {% endfor %}
</ul>


 -->

<!-- 

  <h2>Todo List</h2>
  <ul>
    {% for todo in todos %}
      <li>
        <input type="checkbox" {% if todo.completed %}checked{% endif %} disabled>
        {{ todo.title }} ({{ todo.points }} points)
        <a href="{% url 'todo:todo_update' pk=todo.pk %}">Edit</a>
        <a href="{% url 'todo:todo_delete' pk=todo.pk %}">Delete</a>
      </li>
    {% empty %}
      <li>No todos found.</li>
    {% endfor %}
  </ul>
  <a href="{% url 'todo:todo_create' %}">Create New Todo</a>
  <a href="{% url 'game:game' %}">Play</a>

 -->