{% extends 'base.html' %}

{% block content %}
  <h2>Todo List</h2>
  <form id="addTaskForm" method="POST" action="{% url 'todo:todo_create' %}">
    {% csrf_token %}
    <input type="text" name="title" id="taskTitleInput" placeholder="Enter task title" required>
    <button type="submit">Add Task</button>
    <input type="text" name="description" id="descriptionInput" placeholder="Enter task description">
    <button type="submit">Add Description</button>
  </form>

  <ul id="taskList">
    {% for todo in uncompleted_todos %}
    <li>
      {{ todo.title }}
      
      <a href="{% url 'todo:todo_view' pk=todo.pk %}">View</a>
      <a href="{% url 'todo:todo_update' pk=todo.pk %}">Edit</a>
      <a href="{% url 'todo:todo_delete' pk=todo.pk %}">Delete</a>
      <button type="button" class="complete-btn" data-toggle="modal" data-target="#completeModal" data-task-id="{{ todo.pk }}">Complete</button>
    </li>
    {% endfor %}
  </ul>

    {% for completed_by, todos in completed_todos.items %}
    <li>
      <span class="completed-task-group">Completed by: {{ completed_by }}</span>
      <ul>
        {% for todo in todos %}
        <li>
          <span class="completed-task">{{ todo.title }}</span>
          <a href="{% url 'todo:todo_view' pk=todo.pk %}">View</a>  <!-- Add the view link -->
          <a href="{% url 'todo:todo_completed_update' pk=todo.pk %}">Edit</a>
          <a href="{% url 'todo:todo_completed_delete' pk=todo.pk %}">Delete</a>
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
  
  <div class="modal fade" id="completeModal" tabindex="-1" role="dialog" aria-labelledby="completeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="completeModalLabel">Complete Task</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="completeForm">
            {% csrf_token %}
            <input type="hidden" id="taskIdInput">
            <div class="form-group">
              <label for="nameInput">Your Name:</label>
              <input type="text" class="form-control" id="nameInput" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="completeTaskBtn">Complete</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
   $(document).ready(function() {
    $('.complete-btn').click(function() {
      var taskId = $(this).data('task-id');
      $('#taskIdInput').val(taskId);
    });

    $('#completeTaskBtn').click(function() {
      var taskId = $('#taskIdInput').val();
      var name = $('#nameInput').val();

      // Make an AJAX request to complete the task
      $.ajax({
        type: 'POST',
        url: '{% url "todo:todo_complete" pk=0 %}'.replace('0', taskId),
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          completed_by: name
        },
        success: function(response) {
          window.location.reload();
        }
      });
    });
  });
  </script>
{% endblock %}




/* 
<!-- 
<h2>Todo List</h2>
<ul>
  {% for todo in todos %}
    <li>
      <form method="post" action="{% url 'todo:todo_update' pk=todo.pk %}">
        {% csrf_token %}
        <input type="hidden" name="completed_by" value="{{ todo.completed_by }}">
        <input type="checkbox" {% if todo.completed %}checked{% endif %} 
               onchange="this.form.submit()">
        {{ todo.title }}
        <a href="{% url 'todo:todo_update' pk=todo.pk %}">Edit</a>
        <a href="{% url 'todo:todo_delete' pk=todo.pk %}">Delete</a>
        {% if todo.completed %}
          <p>Completed by: {{ todo.completed_by }}</p>
        {% endif %}
      </form>
    </li>
  {% empty %}
    <li>No todos found.</li>
  {% endfor %}
</ul>
<a href="{% url 'todo:todo_create' %}">Create New Todo</a>
 -->
   */


/* <!-- 


<h2>Todo List</h2>

<h3>User Todos</h3>
<form method="POST" action="{% url 'todo:create_todo' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add</button>
</form>

<ul>
    {% for todo in user_todos %}
        <li>
            <label for="todo_{{ todo.id }}">
                <input type="checkbox" id="todo_{{ todo.id }}" onclick="toggleCheckbox('todo_{{ todo.id }}');" {% if todo.completed %}checked{% endif %}>
                {{ todo.title }}
            </label>
        </li>
    {% endfor %}
</ul>

<h3>Guest Todos</h3>

<ul>
    {% for todo in guest_todos %}
        <li>
            <label for="todo_{{ todo.id }}">
                <input type="checkbox" id="todo_{{ todo.id }}" onclick="toggleCheckbox('todo_{{ todo.id }}');" {% if todo.completed %}checked{% endif %}>
                {{ todo.title }}
            </label>
        </li>
    {% endfor %}
</ul>


 --> */
