{% extends 'base.html' %}

{% block content %}
  <h1>Update Task</h1>
  <form method="post" action="{% url 'todo:todo_completed_update' pk=completed_todo.pk %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update</button>
    <button type="button" id="cancelButton">Cancel</button>
  </form>

  <script>
    document.getElementById("cancelButton").addEventListener("click", function() {
      window.location.href = "{% url 'todo:todo_list' %}";
    });
  </script>
{% endblock %}
todo/views.py