{% extends 'base.html' %} <!-- Extend the 'base.html' template -->

{% block content %} <!-- Start the content section for update the task -->
<div class="container bg-dark text-light py-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1>Update Task</h1>
        <!--Form for the update task-->
        <form method="post" action="{% url 'todo:todo_update' pk=completed_todo.pk %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_title">Title:</label>
            {{ form.title }} <!-- Input field for the task title -->
          </div>
          <div class="form-group">
            <label for="id_completed">Completed:</label>
            {{ form.completed }} <!-- Checkbox for marking the task as completed -->
          </div>
          <div class="form-group">
          </div>
          <div class="form-group">
            <label for="id_completed_by">Completed by:</label>
            {{ form.completed_by }} <!-- Input field for entering the name of the person who completed the task -->
          </div>
          <div class="form-group">
            <label for="id_description">Description:</label>
            {{ form.description }}  <!-- Input field for the task description -->
          </div> <!--Buttons for update and go back to the todolist-->
          <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to update this task?')">Update</button>
          <button type="button" class="btn btn-secondary" id="cancelButton">Back</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  // JavaScript code to handle the back button click
  document.getElementById("cancelButton").addEventListener("click", function() {
    window.location.href = "{% url 'todo:todo_list' %}";
  });
</script>

{% endblock %} <!-- End of the content section -->





